.alertt {
    padding: 1em;
    margin: 1em;

    border-radius: 0.5em;
    border-width: 1px;
    border-style: solid;
    border-color: black;

    box-shadow: 0.1em 0.1em 0.5em 0.1em;
}

.errorr {
    background-color: #FF000055;
}

.successs {
    background-color: #00FF0055;
}

.deletee {
    background-color: #FF000033;
}

a {
    text-decoration: none;
}
